@import url('https://fonts.googleapis.com/css?family=Roboto:100,400|Raleway:100,400&display=block');

@import '~antd/lib/drawer/style/index.css';
@import '~antd/lib/timeline/style/index.css';

::-webkit-scrollbar {
  width: 8px;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  overflow: auto;
  overscroll-behavior: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xs: 320px;

@mixin animated-link($color, $font-size, $is-bold: false) {
  color: $color;
  font-size: $font-size;
  position: relative;
  text-decoration: none;
  @if $is-bold {
    font-weight: bold;
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: $color;
    visibility: visible;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@mixin for-tiny-phone {
  @media screen and (max-width: $breakpoint-xs) {
    @content;
  }
}
@mixin for-phone {
  @media screen and (max-width: $breakpoint-sm) and (orientation: portrait) {
    @content;
  }
}
@mixin for-tablet-portrait {
  @media screen and (max-width: $breakpoint-md) and (orientation: portrait) {
    @content;
  }
}
@mixin for-tablet-landscape {
  @media screen and (max-width: $breakpoint-lg) and (orientation: landscape) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: left 0.2s ease;
  @include for-tablet-portrait {
    left: -21rem;
  }
}

.topbar {
  background-color: #f5f8fa;
  color: #262626;
  font-family: 'Raleway';
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  display: none;
  @include for-tablet-portrait {
    display: flex;
  }

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 2;
  width: 100%;
  position: fixed;
  height: 3rem;

  @include for-phone {
    height: 2rem;
  }

  .profile {
    border-radius: 50%;
    img,
    picture img {
      border-radius: 50%;
    }
    width: 50px;
    height: 50px;
    @include for-phone {
      width: 35px;
      height: 35px;
    }
  }
  i {
    margin-right: 2rem;
  }
  .title {
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 1.2rem;
    @include for-tablet-portrait {
      font-size: 18px;
    }
    @include for-phone {
      font-size: 16px;
    }
  }
}

.container {
  position: absolute;
  right: 0;
  left: 20rem;
  height: 100vh;
  @include for-tablet-portrait {
    left: 0;
  }
}

.home {
  width: 90%;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway';
  margin: auto;
  margin-top: 2rem;
  @include for-tablet-portrait {
    margin-top: 6rem;
  }
  @include for-phone {
    margin-top: 5rem;
  }
  &:last-child {
    margin-bottom: 3rem;
  }
  .about {
    font-size: 1rem;
    @include for-tiny-phone {
      font-size: 0.8rem;
    }
  }
  .timeline {
    .ant-timeline-item {
      .ant-timeline-item-head {
        top: -4px;
        left: -2px;
      }
      .ant-timeline-item-content {
        margin-left: 24px;
        top: -8px;
      }
    }
    .item {
      @include for-tiny-phone {
        font-size: 0.8rem;
      }
      .heading {
        margin-bottom: 0;
      }
      .period {
        font-size: 11px;
        font-weight: bolder;
        padding: 0;
        margin-top: 0;
      }
      .content {
        margin-top: 0;
      }
    }
  }
  .mention {
    @include animated-link(#000000, inherit, true);
  }
}

.error {
  text-align: center;
  width: auto;
  margin: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include for-tablet-portrait {
    width: 80vw;
  }
  .link {
    @include animated-link(#3f51b5, inherit, true);
  }
}

.sidebar,
.ant-drawer-body {
  height: 100vh;
  width: 16rem;

  @include for-tablet-portrait {
    width: 256px;
  }

  @include for-phone {
    width: 200px;
  }

  @include for-tiny-phone {
    width: 160px;
  }

  background-color: #262626;
  color: #f5f8fa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  .profile {
    border-radius: 50%;
    width: 200px;
    height: 190px;
    @include for-phone {
      width: 120px;
      height: 120px;
    }
  }
  .title {
    .name {
      font-family: 'Raleway';
      font-weight: 400;
      margin-block-end: 0;
      letter-spacing: 3px;
      @include for-phone {
        font-size: 24px;
      }
      @include for-tiny-phone {
        font-size: 18px;
      }
    }
    .position {
      font-family: 'Roboto';
      font-weight: 100;
      font-size: 12px;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin-top: 0.5rem;
      @include for-phone {
        letter-spacing: 2px;
      }
      @include for-tiny-phone {
        letter-spacing: 1.2px;
        font-size: 10px;
      }
    }
  }
  .contact {
    margin-top: 3rem;
    @include for-tiny-phone {
      margin-top: 1rem;
    }
    .link {
      display: flex;
      margin: auto;
      height: 40px;
      @include for-tiny-phone {
        height: 35px;
      }
      align-items: center;
      i {
        font-size: 1rem;
        margin-top: 5px;
        @include for-tiny-phone {
          font-size: 12px;
        }
      }
      a {
        margin-left: 1rem;
        @include animated-link(#f5f8fa, 1rem);
        @include for-phone {
          font-size: 12px;
        }
      }
    }
  }
  .legal {
    width: 90%;
    margin-top: auto;
    margin-bottom: 3rem;
    .credit {
      font-size: 14px;
      @include for-tiny-phone {
        font-size: 10px;
      }
      i {
        padding: 5px;
      }
      a {
        @include animated-link(#f5f8fa, 14px);
        @include for-tiny-phone {
          @include animated-link(#f5f8fa, 10px);
        }
      }
    }
    .copyright {
      font-size: 12px;
      @include for-tiny-phone {
        font-size: 10px;
      }
    }
  }
}

.ant-drawer-wrapper-body {
  overflow: hidden !important;
}
